
.country {
  /* fill: green; */
  stroke: black;
  stroke-width: 0.1px;
}

.country:hover {
  fill: red;
}

.sphere {
  fill: #7786f1;
}

/* CSS FOR COLORLEGEND */

body {
  margin: 0px;
  overflow: hidden;
}

.tick text {
  font-size: 1em;
  fill: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
}

.tick circle {
  stroke: black;
  stroke-opacity: 0.5;
}